  
body {
    text-align: center;
    background-color: white;
  }
  
  h1 {
    color: black; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 40px; 
    line-height: 130px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 10px; 
    margin-left: 230px;
    text-align: left; 
    text-shadow: 0 1px 1px #fff;
  }
    
    /* Search Bar */
    .search {
      width: 500px;
      position: relative;
      display: flex;
      margin-left: -270px;
      margin-top: -220px;
    }
  
    .search a:hover {
        color: rgb(194, 184, 194);
        border-color: rgb(194, 184, 194);
    }
    
    .searchTerm {
      width: 500px;
      border: 3px solid black;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: black;
    }
    
    .searchTerm:focus{
      color: black;
    }
    
    
    
    .searchButton {
      width: 40px;
      height: 36px;
      background-color:white; /* Blue background */
      border: 3px solid black;
      border-left: none;
      color: black; /* White text */
      padding: 3px 3px; /* Some padding */
      font-size: 16px; /* Set a font size */
      cursor: pointer; /* Mouse pointer on hover */
      border-radius: 0 5px 5px 0;
    }
  
    .searchButton:hover {
        color: rgb(194, 184, 194);
    }
    
    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 100px;
      position: relative;
      margin-top: 230px;
      margin-left: 500px;
    }

    input[type=text1] {
        width: 100%;
        position: relative;
        padding: 10px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
      }

      input[type=text1]:focus {
        background-color: #ddd;
        outline: none;
      }
  
    form {
        margin-bottom: 25px;
        position: relative;
        padding-left: 250px;
        padding-right: 100px;
        padding-top: 30px;
    }

    input[type=submit], input[type=button] {
        background-color: #111;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 30%;
        opacity: 0.9;
        position: relative;
        margin-left: 60px;
    }

    input[type=submit]:hover, input[type=button]:hover {
        background-color: #333;
    }